.footer {
  display: flex;
  padding: 60px 0px;

  background-color: #2f303a;
}

.footer-elements {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__txt {
  display: block;
  margin-bottom: 20px;
  height: 16px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;
}
